In [6]:
# Q1 Import the pandas, NumPy, and os libraries.

In [7]:
import pandas as pd
import numpy as np
import os

In [8]:
# Q2 Turn your project folder path into a string as outlined in the Exercise text.

In [9]:
#Import the “orders.csv” data set into your notebook using the os library and the vars_list shortcut, omitting the “eval_set” column in your final dataframe.

In [10]:
vars_list = ['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']
file_path = r"D:\career Foundary\Data_immersion\4_python_projects\Instacart Basket Analysis"

In [11]:
df = pd.read_csv(os.path.join(file_path, '02 Data', 'Original Data', 'orders.csv'), usecols = vars_list)

In [12]:
# Print the first 5 rows of your dataframe.

In [13]:
df.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [14]:
# Import the “products.csv” file into Jupyter as df_prods (as opposed to df, which is what your “orders.csv” file is named in Jupyter). 
# You can use the path variable you created in step 4 to import “products.csv” with the os library.

In [15]:
df_prods = pd.read_csv(os.path.join(file_path, "02 Data", "Original Data", "products.csv"),index_col = False)

In [16]:
# Print the first 20 rows and last 35 rows of the df_prods dataframe.

In [17]:
df_prods.head(35)

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
5,6,Dry Nose Oil,11,11,2.6
6,7,Pure Coconut Water With Orange,98,7,4.4
7,8,Cut Russet Potatoes Steam N' Mash,116,1,1.1
8,9,Light Strawberry Blueberry Yogurt,120,16,7.0
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4
10,11,Peach Mango Juice,31,7,2.8
11,12,Chocolate Fudge Layer Cake,119,1,9.4
12,13,Saline Nasal Mist,11,11,1.1
13,14,Fresh Scent Dishwasher Cleaner,74,17,6.5
14,15,Overnight Diapers Size 6,56,18,11.2
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
16,17,Rendered Duck Fat,35,12,17.1
17,18,Pizza for One Suprema Frozen Pizza,79,1,10.6
18,19,Gluten Free Quinoa Three Cheese & Mushroom Blend,63,9,12.0
19,20,Pomegranate Cranberry & Aloe Vera Enrich Drink,98,7,6.0
20,21,Small & Medium Dental Dog Treats,40,8,10.0
21,22,Fresh Breath Oral Rinse Mild Mint,20,11,9.5
22,23,Organic Turkey Burgers,49,12,8.2
23,24,Tri-Vi-Sol® Vitamins A-C-and D Supplement Drop...,47,11,9.1
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19,1.9
25,26,Fancy Feast Trout Feast Flaked Wet Cat Food,41,8,11.3
26,27,Complete Spring Water Foaming Antibacterial Ha...,127,11,5.3
27,28,Wheat Chex Cereal,121,14,10.1
28,29,Fresh Cut Golden Sweet No Salt Added Whole Ker...,81,15,6.8
29,30,"Three Cheese Ziti, Marinara with Meatballs",38,1,13.8
30,31,White Pearl Onions,123,4,7.5
31,32,Nacho Cheese White Bean Chips,107,19,4.9
32,33,Organic Spaghetti Style Pasta,131,9,12.6
33,34,NaN,121,14,12.2
34,35,Italian Herb Porcini Mushrooms Chicken Sausage,106,12,15.1

In [18]:
df_prods.head(20)

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
5,6,Dry Nose Oil,11,11,2.6
6,7,Pure Coconut Water With Orange,98,7,4.4
7,8,Cut Russet Potatoes Steam N' Mash,116,1,1.1
8,9,Light Strawberry Blueberry Yogurt,120,16,7.0
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4
10,11,Peach Mango Juice,31,7,2.8
11,12,Chocolate Fudge Layer Cake,119,1,9.4
12,13,Saline Nasal Mist,11,11,1.1
13,14,Fresh Scent Dishwasher Cleaner,74,17,6.5
14,15,Overnight Diapers Size 6,56,18,11.2
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
16,17,Rendered Duck Fat,35,12,17.1
17,18,Pizza for One Suprema Frozen Pizza,79,1,10.6
18,19,Gluten Free Quinoa Three Cheese & Mushroom Blend,63,9,12.0
19,20,Pomegranate Cranberry & Aloe Vera Enrich Drink,98,7,6.0

In [19]:
# Print the names of the columns in the df_prods dataframe.

In [20]:
df_prods.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices'], dtype='object')

In [21]:
# Print the number of rows and columns in the df_prods dataframe.

In [22]:
df_prods.shape

(49693, 5)

In [23]:
# Answer the following questions using the relevant commands. Use markdown mode for your Jupyter cells to provide written answers within your Jupyter notebook after executing the commands:
# What’s the maximum value of the “aisle_id” column?
# What’s the data type of the “department_id” column?

In [24]:
df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

  The maximum value of the “aisle_id” column is 134.000000

In [25]:
df_prods.dtypes

product_id         int64
product_name      object
aisle_id           int64
department_id      int64
prices           float64
dtype: object

The data type of the “department_id” column is int64

In [26]:
#Save your notebook, then locate it in your file explorer, compress it, and upload the compressed ZIP file here for your tutor for review.